<a href="https://colab.research.google.com/github/Cilans-Systems/PythonTraining/blob/main/S1/Python_Foundation_NS.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Code to Fetch Data

In [1]:
!git clone https://github.com/Cilans-Systems/PythonTraining.git
import os
os.chdir('/content/PythonTraining/S1')

Cloning into 'PythonTraining'...
remote: Enumerating objects: 27, done.
remote: Counting objects: 100% (27/27), done.
remote: Compressing objects: 100% (25/25), done.
remote: Total 27 (delta 4), reused 0 (delta 0), pack-reused 0
Unpacking objects: 100% (27/27), done.

# IOCL  :  Welcome to Python Foundation   
## Python Learning
### Coach :  Nikhil Shah

In [ ]:
x=9
y=9.9
z= x/2
z1=x//2
print("x=",x,"y=",y,"z=",z,"z1=",z1)

x= 9 y= 9.9 z= 4.5 z1= 4

####  print function : It is used to print any statement

In [ ]:
print("This is the First Python Program")

This is the First Python Program

thuis is comment

#### Assign value

In [ ]:
x,y=10,20
print("value of x:",x)
print("value if y:",y)

value of x: 10
value if y: 20

In [ ]:
# Swap Value (Interchange)
x,y=y,x
print("Value of x:",x)
print("value of y:",y)

Value of x: 20
value of y: 10

### Tuple 
It is collection of different type of value. Tuple is Immutable so we can't change any value inside the tuple. It is Created using presentheases () .

In [ ]:
tu = (23, 'abc', 4.56, (2,3), 'def',45,567,34,'Indian Oil',"Reliance")
tu

(23, 'abc', 4.56, (2, 3), 'def', 45, 567, 34, 'Indian Oil', 'Reliance')

### Indexing and Slicing
#####  indexing  start  at  0 position . 
<ul>
    <li>It return one value at a time</li>
    <li>Two type of  indexing avaiable:</li>
    <ul>
        <li> <b>Positive :</b> Positive index start By Zero and left side</li>
        <li> <b>Negative :</b> Negative Index start By -1 and Right side</li>
    </ul>
</ul>

#### Indexing and Slicing in Tuple

In [ ]:
print("First Position Value is :",tu[0])

First Position Value is : 23

In [ ]:
print("Fourth Position Value is :",tu[3])

Fourth Position Value is : (2, 3)

In [ ]:
print("Last Position value is:",tu[-1])

Last Position value is: Reliance

##### slicing return range of value
Start copying at the first index and stop copying before second.
[start:stop:step]

In [ ]:
# display 1 to 3 value
tu[1:4]

('abc', 4.56, (2, 3))

In [ ]:
# Use Negative Index
tu[1:-1]

('abc', 4.56, (2, 3), 'def', 45, 567, 34, 'Indian Oil')

### Tuple Function

In [ ]:
# len : return Length of Tuple
print ("First tuple length : ", len(tu)) 

# Max : find Maximum value of Tuple(Not Apply Mix Data type)
tuple1= ('pqr','xyz', 'zara', 'abc')
print ("Max value element : ", max(tuple1))


# Min : find Minimum value of Tuple(Not Apply Mix Data type)
tuple1= ('pqr','xyz', 'zara', 'abc')
print ("Max value element : ", min(tuple1))

# tuple : convert any data into tuple 
aList = [123, 'xyz', 'zara', 'abc']
aTuple = tuple(aList) 
print("New Tuple:",aTuple)

First tuple length :  10
Max value element :  zara
Max value element :  abc
New Tuple: (123, 'xyz', 'zara', 'abc')

### List  :
It is also collection of value of Mix data type.It is Mutable so, we can change any value inside the list. Define List using square[] and commas.

In [ ]:
l1=[23, 'abc', 4.56, (2,3), 'def',45,567,34,'Indian Oil',"Reliance"]
l1

[23, 'abc', 4.56, (2, 3), 'def', 45, 567, 34, 'Indian Oil', 'Reliance']

#### Indexing and Slicing in List
It is simmlar to tuple indexing and slicing

In [ ]:
print("Fourth position value is:",l1[3])

Fourth position value is: (2, 3)

In [ ]:
print("Fourth position value is:",l1[6])

Fourth position value is: 567

In [ ]:
print("9th position value is:",l1[-2])

9th position value is: Indian Oil

In [ ]:
# display 3rd position to 6th position
l1[3:7]

[(2, 3), 'def', 45, 567]

In [ ]:
# Return Revese value
l1[::-1]

['Reliance', 'Indian Oil', 34, 567, 45, 'def', (2, 3), 4.56, 'abc', 23]

### List Function

In [ ]:
# len : return Length of List
print ("First List length : ", len(l1)) 

# Max : find Maximum value of List(Not Apply Mix Data type)
List1= ('pqr','xyz', 'zara', 'abc')
print ("Max value element : ", max(List1))


# Min : find Minimum value of List(Not Apply Mix Data type)
tuple1= ('pqr','xyz', 'zara', 'abc')
print ("Max value element : ", min(List1))

# list : convert any data into list 
t1 = (123, 'xyz', 'zara', 'abc')
aList = list(t1) 
print("New List:",aList)

First List length :  10
Max value element :  zara
Max value element :  abc
New List: [123, 'xyz', 'zara', 'abc']

### List Method

In [ ]:
#index: Return index of first occurrence
li = [1, 5, 3, 2,5]
print("Index of First occurence of 5:",li.index(5))

# count : Number of Occurence 
print("Display count of 5:",li.count(5))

# remove : remove First Occurence
li.remove(5)
print("After removing 5:",li)

# reverse : reverse number 
li.remove(5)
print("After removing 5:",li)

# sort : to Sort Assesnding Order
li.sort()
print("After Sorting:",li)

# Insert : Insert Value By Position
li.insert(1,100)
print("After Insert Value:",li)

# append : Insert Multiple value at Last position
li.append([12,34,55])
print("After append :",li)

# extend: extend your List
li.extend([10,20,30])
print("Extend List :",li)

Index of First occurence of 5: 1
Display count of 5: 2
After removing 5: [1, 3, 2, 5]
After removing 5: [1, 3, 2]
After Sorting: [1, 2, 3]
After Insert Value: [1, 100, 2, 3]
After append : [1, 100, 2, 3, [12, 34, 55]]
Extend List : [1, 100, 2, 3, [12, 34, 55], 10, 20, 30]

### String
string is colleciton of Charatcer written in single,double ,triple quote

In [ ]:
s1="Hello, Everyone"
s2='Hello, Everyone'
s3="""Hello,
    Everyone"""
print(s1)
print(s2)
print(s3)

Hello, Everyone
Hello, Everyone
Hello,
    Everyone

#### Indexing and Slicing in String
It is simmlar to tuple indexing and slicing

In [ ]:
print("First Character of String:",s1[0])
print("Last Character of String:",s1[-1])
print("second to 5th position value:",s1[2:5])
print("Seven to 13th position value:",s1[7:13])
# Print After Two Word
print(s1[2:])
# First 3 Letter
print(s1[:3])
# Skip Last Number od Letters
print(s1[:-3])
#Last Number of Character
print(s1[-3:])

First Character of String: H
Last Character of String: e
second to 5th position value: llo
Seven to 13th position value: Everyo
llo, Everyone
Hel
Hello, Every
one

### String Method

In [ ]:
# len : return Length of List
print ("Length of String: ", len(s1)) 

# split(): splits the string into substrings if it finds instances of the separator
b = s1.split(",")
print("Split String:",b)

# strip() : removes any whitespace from the beginning or the end
print(s1.strip())

# lower() : convert uppercase to lowercase 
print(s1.lower())

# upper() : convert lowercase to uppercase
print(s1.upper())

Length of String:  15
Split String: ['Hello', ' Everyone']
Hello, Everyone
hello, everyone
HELLO, EVERYONE

### In operator
Boolean test whether a value is inside a container<br/>
**in** operator same resonse to list , tuple, String

In [ ]:
t = [1, 2, 4, 5]
print(3 in t)
print(4 in t)
print(4 not in t)

False
True
False

### + Operator
concatination of two or more collection

In [ ]:
print((1, 2, 3) + (4, 5, 6))
print([1, 2, 3] + [4, 5, 6])
print("Hello" + " " + "World")

(1, 2, 3, 4, 5, 6)
[1, 2, 3, 4, 5, 6]
Hello World

### * operator
Repeat number of any Collection

In [ ]:
print((1, 2, 3) * 3)
print([1, 2, 3] * 3)
print("Hello" * 3)

(1, 2, 3, 1, 2, 3, 1, 2, 3)
[1, 2, 3, 1, 2, 3, 1, 2, 3]
HelloHelloHello

### Dictionary 
Dictionary is an  unordered  Collection of key-Value Pairs.
![image-2.png](attachment:image-2.png)
![image-3.png](attachment:image-3.png)

In [ ]:
symbol_to_name = {"H": "hydrogen","He": "helium","Li": "lithium","C": "carbon","O": "oxygen","N": "nitrogen"}
symbol_to_name

{'H': 'hydrogen',
 'He': 'helium',
 'Li': 'lithium',
 'C': 'carbon',
 'O': 'oxygen',
 'N': 'nitrogen'}

In [ ]:
print(symbol_to_name["C"])
print(symbol_to_name["O"])

carbon
oxygen

### Dictionary Method

In [ ]:
# keys(): return all key of dictionary
print(symbol_to_name.keys())
# values(): return all values from dictionary
print(symbol_to_name.values())
# items(): return all key and value of dictionary
print(symbol_to_name.items())

dict_keys(['H', 'He', 'Li', 'C', 'O', 'N'])
dict_values(['hydrogen', 'helium', 'lithium', 'carbon', 'oxygen', 'nitrogen'])
dict_items([('H', 'hydrogen'), ('He', 'helium'), ('Li', 'lithium'), ('C', 'carbon'), ('O', 'oxygen'), ('N', 'nitrogen')])

### Operator
Operators are used to perform operations on variables and values.<br/>
Python Provide 5 Type Operator.<br/>
<ul>
    <li>1. Arithmatic Operator</li>
    <li>2. Relational Operator</li>
    <li>3. Logical Operator</li>
    <li>4. Identity Operator</li>
    <li>5. Mombership Operator</li>
    
</ul>

In [ ]:
# Arithmatic Operator
a=int(input("Enter the value of a:"))
b=int(input("Enter the Value of b:"))
print("Addition is ",a+b)
print("Subtraction is ",a-b)
print("Multiplication",a*b)
print("Division ",a/b)
print("Exponentiation of a^b",a**b)
print("Floor Division ",a//b)

Enter the value of a:10
Enter the Value of b:3
Addition is  13
Subtraction is  7
Multiplication 30
Division  3.3333333333333335
Exponentiation of a^b 1000
Floor Division  3

In [ ]:
# Relational Operator
a=eval(input("Enter the  value of a:"))
b=eval(input("Enter the  value of b:"))

print("Equal to:",(a==b))
print("Not Equal to :",(a!=b))
print("Greater than:",(a>b))
print("Less than:",(a<b))
print("Greater than or Equal to:",(a>=b))
print("Less than or Equal to",(a<=b))

In [ ]:
# Logical Operator
a=eval(input("Enter the  value of a:"))
b=eval(input("Enter the  value of b:"))

c=eval(input("Enter the  value of c:"))
print("Using And :",a>b and a>c)
print("Using Or :",a>b or a>c)
print("Using Not :",not(a>b and a>c))

Enter the  value of a:3
Enter the  value of b:4
Enter the  value of c:2
Using And : False
Using Or : True
Using Not : True

In [ ]:
# Identity Operator
x = ["apple", "banana"]
y = ["apple", "banana"]
z = x
print(x is z)
# returns True because z is the same object as x
print(x is y)
# returns False because x is not the same object as y, even if they have the same content
print(x == y)
# to demonstrate the difference betweeen "is" and "==": this  comparison returns True because x is equal to y

True
False
True

In [ ]:
# Membership Operator
x = ["apple", "banana"]
print("banana" in x)
#returns True because a sequence with the value "banana" is in the list
x = ["apple", "banana"]

print("pineapple" not in x)
# returns True because a sequence with the value "pineapple" is not in the list

True
True

### Conditional Statement

A conditional Statement choose which statement will be executed next; therefore they are sometimes called Selection Statement.
<ul>
    <li>Simple If</li>
<li>If-Else Statement</li>
<li>Elif statement </li>
</ul>

In [ ]:
# Simple if Statement
Petrol_price=30
Desal_Price=20
if Petrol_price>Desal_Price:
    print("Petrol is Costly")

Petrol is Costly

In [ ]:
# If-else Statement
Petrol_price=30
Desal_Price=20
if Petrol_price>Desal_Price:
    print("Petrol is Costly")
else:
     print("Desal is Costly")

Petrol is Costly

In [ ]:
# Elif Statement
color=input("Enter the color name:")
if color=="red" or color=="RED":
    print("Your Signal is 'RED' Please Stop!")
elif color=="green" or color=="GREEN":
    print("Your Signal is 'GREEN'  So Go Ahead!")
elif color=="orange" or color=="ORANGE":
    print("Your Signal is 'ORANGE'  So Go Slow!")
else:
    print("You enter wrong Color Name")

Enter the color name:
You enter wrong Color Name

### Loop Statement
A loop statements are executed sequentially<br/>
The first statement in a function is executed first, followed by the second, and so on. <br/>
<ul>
    <li>For Loop</li>
<li>While Loop</li>

</ul>

In [ ]:
# For loop
oil_price={"Jan":100,"Feb":67.7,"March":35.67,"April":67.89,"May":77.5}
print("Month_Name\tPrice")
for k,v in oil_price.items():
    print(k,"\t\t",v)

Month_Name	Price
Jan 		 100
Feb 		 67.7
March 		 35.67
April 		 67.89
May 		 77.5

In [ ]:
# While Loop
oil_price=[100,67.7,35.67,67.89,77.5]
m=0
n=len(oil_price)
while m<n:
    print(oil_price[m])
    m=m+1

100
67.7
35.67
67.89
77.5

### File Operation

In [2]:
f1=open("indian_oil.txt","r")
data=f1.read(10)
print(data)
f1.close()

Indian Oil

In [ ]:
f1=open("indian_oil.txt","r")
data=f1.readline()
print(data)
f1.close()

Indian Oil Corporation Limited.